@use 'utilities' as *;

main.contact {
  @include tab-styling;

  h1 {
    @include header-styling;
  }

  .contact-content {
    display: grid;
    place-items: center;
    
    p {
    }

    img {
      width: 50%;
    }
  }
}
