@use 'variables' as *;

main.home {
  display: grid;
  place-items: center;
  color: $light-font-clr;
  padding: 32px;
  line-height: 1.5;

  h1 {
    font-size: 4rem;
    background: linear-gradient(90deg, $light-font-clr, rgb(136, 119, 119));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p[class*='paragraph-top'] {
    font-size: 1.5rem;
  }

  .description {
    text-align: center;
    font-size: 0.9rem;
  }

  .paragraph-bottom {
    align-self: end;
    font-size: 0.9rem;
  }

  span {
    font-weight: bold;
    color: lighten($light-font-clr, 50%);
  }
}
