@use 'utilities' as *;

main.home {
  @include tab-styling;

  h1 {
    @include header-styling;
  }

  p[class*='paragraph-top'] {
    font-size: 1.5rem;
  }

  .description {
    text-align: center;
    font-size: 0.9rem;
  }

  .paragraph-bottom {
    align-self: end;
    font-size: 0.9rem;
  }

  span {
    font-weight: bold;
    color: lighten($light-font-clr, 50%);
  }
}
