@use 'variables' as *;

main.menu {
  @include tab-styling;
  gap: 32px;

  h1 {
    @include header-styling;
  }

  .menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 16px;

    div {
      display: grid;
      place-items: center;
      gap: 16px;
      padding: 8px;
      outline: 1px dashed $light-font-clr;
      border-radius: 16px;
      text-align: center;

      .name {
        font-size: 1.5rem;
        font-weight: bold;
      }

      .description {
        font-size: 0.9rem;
      }

      .price {
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 2px;
      }

      img {
        width: 50%;
        border-radius: 60px;
      }
    }
  }
}
