@use 'variables' as *;

main.menu {
  @include tab-styling;
  gap: 32px;

  h1 {
    @include header-styling;
  }

  .menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 16px;

    div {
      display: grid;
      grid-template-rows: 1fr 4fr 75px 1fr;
      place-items: center;
      gap: 16px;
      padding: 16px;
      outline: 1px solid $menu-item-border-clr;
      border-radius: 16px;
      text-align: center;

      .name {
        font-size: 1.8rem;
        font-weight: bold;
      }

      .description {
        font-size: 1rem;
        font-style: italic;
      }

      .price {
        font-size: 1.6rem;
        font-weight: bold;
        letter-spacing: 2px;
      }

      img {
        width: 75%;
        border-radius: 60px;
      }
    }
  }
}
