@use 'utilities' as *;

@media screen and (width <= 768px) {
  #container {
    grid-template-rows: 75px 1fr 75px;
    grid-template-areas:
      'header header header'
      'main   main   main'
      'footer footer footer';
  }

  main {
    margin: 16px;
    border-radius: 16px;
  }

  footer {
    gap: 0px;

    p {
      font-size: 0.7rem;
    }
    a {
      img {
        height: 20px;
        width: 20px;
      }
    }
    .attribution {
      font-size: 0.6rem;
    }
  }

  main.home,
  main.menu,
  main.contact {
    h1 {
      font-size: 3rem;
    }
  }

  main.home {
    p[class*='paragraph-top'] {
      font-size: 1.5rem;
      text-align: center;
    }

    .description,
    .paragraph-bottom {
      font-size: 0.8rem;
    }
  }

  main.menu {
    .menu-items {
      grid-template-columns: 1fr;

      div {
        .name {
          font-size: 1.5rem;
        }

        .description {
          font-size: 0.9rem;
        }

        .price {
          font-size: 1.5rem;
        }
      }
    }
  }

  main.contact {
    .contact-content {
      p {
        font-size: 1rem;
      }
    }
  }
}
