@use 'utilities' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: $background-clr;
  font-family: $font-stack;
}

#container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas:
    'header header header'
    '.      main   .'
    'footer footer footer';

  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: center / cover url(../assets/nick-karvounis-unsplash.jpg);
    filter: grayscale(70%) opacity(50%);
  }
}

header {
  grid-area: header;
  background-color: $header-footer-clr;
  display: grid;
  place-items: center;
  position: sticky;
  top: 0;
  z-index: 1;

  ul {
    display: flex;
    gap: 64px;
    color: $light-font-clr;
  }

  li {
    list-style-type: none;
    cursor: pointer;
    font-size: 1.2rem;

    &:hover {
      font-weight: bold;
      color: lighten($light-font-clr, 50%);
    }
  }
}

main {
  grid-area: main;
  position: relative;
  background-color: $header-footer-clr;
  margin: 16px 0;
  border-radius: 48px;
}

footer {
  grid-area: footer;
  background-color: $header-footer-clr;
  color: $light-font-clr;
  display: grid;
  place-items: center;
  gap: 8px;
  padding: 8px 0;
  position: sticky;
  bottom: 0;

  p {
    font-size: 0.9rem;
  }

  a {
    img {
      height: 24px;
      width: 24px;
    }
  }

  .attribution {
    font-size: 0.7rem;

    a {
      text-decoration: none;
      color: lighten($light-font-clr, 50%);
    }
  }
}
