@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

$background-clr: #b3b3b3;
$header-footer-clr: #323232;
$light-font-clr: #cccccc;
$font-stack: 'Josefin Sans', sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-clr;
  font-family: $font-stack;
  height: 100vh;
}

#container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-areas: 
   'header header header'
   '.      main   .'
   'footer footer footer';
}

header {
  grid-area: header;
  background-color: $header-footer-clr;
  display: grid;
  place-items: center;
  
  ul {
    display: flex;
    gap: 64px;
    color: $light-font-clr;
  }

  li {
    list-style-type: none;
    cursor: pointer;
  }
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: $header-footer-clr;
  color: $light-font-clr;
  display: grid;
  place-items: center;
  gap: 8px;

  p {
    align-self: end;
  }

  a {
    align-self: start;
  }

  img {
    height: 24px;
    width: 24px;
  }
}